In [24]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

from shapely.geometry import Point
import pyproj
from fiona.crs import from_epsg
import numpy as np
from geopandas import GeoDataFrame
import datetime
from datetime import timedelta, date

In [25]:
plt.rcParams["font.family"] = "NanumGothic"
plt.rcParams["figure.figsize"] = (10,20)

In [26]:
clear_day_data = pd.read_csv("./variable/pre/clear_day_table.csv", encoding='utf-8')
day_view_time_data = pd.read_csv("./variable/pre/day_view_time_table.csv", encoding='utf-8')
lst_data = pd.read_csv("./variable/pre/land_surface_temperature_table.csv", encoding='utf-8')

In [27]:
data = clear_day_data
name = "clear_day"

In [28]:
data.head()

                  date  SG_NM SIG_KOR_NM  SIG_CD         mean
0  2018-01-01T00:00:00  서울특별시        종로구   11110  3449.171147
1  2018-01-01T00:00:00  서울특별시         중구   11140  3163.524149
2  2018-01-01T00:00:00  서울특별시        용산구   11170  3338.655168
3  2018-01-01T00:00:00  서울특별시        성동구   11200  3270.112224
4  2018-01-01T00:00:00  서울특별시        광진구   11215  3488.000365

In [29]:
data_1 = data[data.SIG_KOR_NM=="광진구"]
data_2 = data[data.SIG_KOR_NM=="동대문구"]
data_3 = data[data.SIG_KOR_NM=="성동구"]
data_4 = data[data.SIG_KOR_NM=="중랑구"]

In [30]:
def converting_to_real_dt(l):
    new_l = []
    format_t = '%Y-%m-%dT%H:%M:%S'
    for i in l:
        dt = datetime.datetime.strptime(i, format_t).date()
        new_l.append(dt)
    return new_l

In [31]:
data_1.date = converting_to_real_dt(data_1["date"])
data_2.date = converting_to_real_dt(data_2["date"])
data_3.date = converting_to_real_dt(data_3["date"])
data_4.date = converting_to_real_dt(data_4["date"])

C:\Users\skyri\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [32]:
def cleaning_df(df, name):
    f_df = df[["date", "mean"]]
    f_df.rename(columns = {'mean' : name}, inplace = True)
    f_df.reset_index(drop=True, inplace=True)
    return f_df

In [33]:
f_data_1 = cleaning_df(data_1, name)
f_data_2 = cleaning_df(data_2, name)
f_data_3 = cleaning_df(data_3, name)
f_data_4 = cleaning_df(data_4, name)

C:\Users\skyri\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [34]:
f_data_1.head()

         date    clear_day
0  2018-01-01  3488.000365
1  2018-01-02  2032.498815
2  2018-01-03  3226.988696
3  2018-01-04  1981.037362
4  2018-01-05  3105.680583

In [35]:
def preprocessing_weather(data, name):
    data_1 = data[data.SIG_KOR_NM=="광진구"]
    data_2 = data[data.SIG_KOR_NM=="동대문구"]
    data_3 = data[data.SIG_KOR_NM=="성동구"]
    data_4 = data[data.SIG_KOR_NM=="중랑구"]
    data_1.date = converting_to_real_dt(data_1["date"])
    data_2.date = converting_to_real_dt(data_2["date"])
    data_3.date = converting_to_real_dt(data_3["date"])
    data_4.date = converting_to_real_dt(data_4["date"])
    f_data_1 = cleaning_df(data_1, name)
    f_data_2 = cleaning_df(data_2, name)
    f_data_3 = cleaning_df(data_3, name)
    f_data_4 = cleaning_df(data_4, name)
    return f_data_1, f_data_2, f_data_3, f_data_4

In [36]:
clear_day_1, clear_day_2, clear_day_3, clear_day_4 = preprocessing_weather(clear_day_data, "clear_day")
day_view_time_1, day_view_time_2, day_view_time_3, day_view_time_4 = preprocessing_weather(day_view_time_data, "day_view_time")
lst_1, lst_2, lst_3, lst_4 = preprocessing_weather(lst_data, "lst")

C:\Users\skyri\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\skyri\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [37]:
set(clear_day_1.date)-set(clear_day_2.date)

{datetime.date(2018, 2, 12),
 datetime.date(2018, 3, 5),
 datetime.date(2018, 3, 9),
 datetime.date(2018, 4, 13),
 datetime.date(2018, 6, 15),
 datetime.date(2018, 6, 27),
 datetime.date(2018, 8, 12),
 datetime.date(2018, 8, 30),
 datetime.date(2018, 11, 17),
 datetime.date(2018, 12, 2),
 datetime.date(2018, 12, 6),
 datetime.date(2018, 12, 17),
 datetime.date(2018, 12, 26),
 datetime.date(2019, 1, 4),
 datetime.date(2019, 2, 18),
 datetime.date(2019, 5, 8),
 datetime.date(2019, 7, 12),
 datetime.date(2019, 10, 16),
 datetime.date(2019, 10, 18),
 datetime.date(2019, 10, 26),
 datetime.date(2019, 12, 4),
 datetime.date(2019, 12, 20),
 datetime.date(2019, 12, 27),
 datetime.date(2020, 4, 25),
 datetime.date(2020, 5, 1),
 datetime.date(2020, 5, 21),
 datetime.date(2020, 6, 17),
 datetime.date(2020, 8, 25),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 13),
 datetime.date(2020, 12, 6),
 datetime.date(2020, 12, 15),
 datetime.date(2020, 12, 22),
 datetime.date(2020, 12, 31),
 datetime.date(2021, 1, 8),
 datetime.date(2021, 4, 2),
 datetime.date(2021, 6, 22),
 datetime.date(2021, 6, 24),
 datetime.date(2021, 9, 10),
 datetime.date(2021, 9, 22),
 datetime.date(2021, 11, 10),
 datetime.date(2021, 11, 19),
 datetime.date(2021, 11, 25),
 datetime.date(2021, 12, 16),
 datetime.date(2022, 1, 15),
 datetime.date(2022, 3, 27)}

In [38]:
weather_gwang = pd.concat([clear_day_1, day_view_time_1, lst_1], axis=1, join="inner")[["clear_day", "day_view_time", "lst"]]
weather_dong = pd.concat([clear_day_2, day_view_time_2, lst_2], axis=1, join="inner")[["clear_day", "day_view_time", "lst"]]
weather_seong = pd.concat([clear_day_3, day_view_time_3, lst_3], axis=1, join="inner")[["clear_day", "day_view_time", "lst"]]
weather_jung = pd.concat([clear_day_4, day_view_time_4, lst_4], axis=1, join="inner")[["clear_day", "day_view_time", "lst"]]

In [39]:
print(len(weather_gwang), len(weather_dong), len(weather_jung), len(weather_seong))

944 917 921 946

In [40]:
date_l = []
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2018, 1, 1)
end_dt = date(2022, 6, 24)
for dt in daterange(start_dt, end_dt):
    date_l.append(dt)

In [41]:
len(date_l)

1636

In [42]:
date_standard = pd.DataFrame({"date":date_l})
date_standard

            date
0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
...          ...
1631  2022-06-20
1632  2022-06-21
1633  2022-06-22
1634  2022-06-23
1635  2022-06-24

[1636 rows x 1 columns]

In [43]:
date_1 = date_standard.copy()
data_1 = pd.merge(date_1, clear_day_1, how="left", on="date")
data_1['clear_day'].interpolate(method='polynomial', order=2,inplace=True)
data_2 = pd.merge(data_1, day_view_time_1, how="left", on="date")
data_2['day_view_time'].interpolate(method='polynomial', order=2,inplace=True)
data_3 = pd.merge(data_2, lst_1, how="left", on="date")
data_3['lst'].interpolate(method='polynomial', order=2,inplace=True)
data_3.to_csv("./variable/weather_Gwang.csv", encoding="utf-8")

In [44]:
date_2 = date_standard.copy()
data_1 = pd.merge(date_2, clear_day_2, how="left", on="date")
data_1['clear_day'].interpolate(method='polynomial', order=2,inplace=True)
data_2 = pd.merge(data_1, day_view_time_2, how="left", on="date")
data_2['day_view_time'].interpolate(method='polynomial', order=2,inplace=True)
data_3 = pd.merge(data_2, lst_2, how="left", on="date")
data_3['lst'].interpolate(method='polynomial', order=2,inplace=True)
data_3.to_csv("./variable/weather_Dong.csv", encoding="utf-8")

In [45]:
date_3 = date_standard.copy()
data_1 = pd.merge(date_3, clear_day_3, how="left", on="date")
data_1['clear_day'].interpolate(method='polynomial', order=2,inplace=True)
data_2 = pd.merge(data_1, day_view_time_3, how="left", on="date")
data_2['day_view_time'].interpolate(method='polynomial', order=2,inplace=True)
data_3 = pd.merge(data_2, lst_3, how="left", on="date")
data_3['lst'].interpolate(method='polynomial', order=2,inplace=True)
data_3.to_csv("./variable/weather_Seong.csv", encoding="utf-8")

In [46]:
date_4 = date_standard.copy()
data_1 = pd.merge(date_4, clear_day_4, how="left", on="date")
data_1['clear_day'].interpolate(method='polynomial', order=2,inplace=True)
data_2 = pd.merge(data_1, day_view_time_4, how="left", on="date")
data_2['day_view_time'].interpolate(method='polynomial', order=2,inplace=True)
data_3 = pd.merge(data_2, lst_4, how="left", on="date")
data_3['lst'].interpolate(method='polynomial', order=2,inplace=True)
data_3.to_csv("./variable/weather_Jung.csv", encoding="utf-8")