In [50]:
!pip install openpyxl
!pip install linear-imputation

Requirement already satisfied: openpyxl in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: linear-imputation in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (1.0.1)
Requirement already satisfied: numpy in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from linear-imputation) (1.21.5)
Requirement already satisfied: scipy in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from linear-imputation) (1.7.3)
Requirement already satisfied: pandas in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from linear-imputation) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from pandas->linear-imputation) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from pandas->linear-imputation) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/seong-gang/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->linear-imputation) (1.16.0)

In [7]:
data = pd.read_csv("./variable/population_Seong.csv", encoding="utf-8")
data.drop(["Unnamed: 0"], axis=1,inplace=True)
data[1455:1460]

            date       총생활인구수
1455  2021-12-26  342799.4382
1456  2021-12-27  366167.5985
1457  2021-12-28  367832.2213
1458  2021-12-29  367536.7057
1459  2021-12-30  366416.1576

In [2]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from shapely.geometry import Point
import pyproj
from fiona.crs import from_epsg
import numpy as np
from geopandas import GeoDataFrame
from datetime import timedelta, date
import datetime

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
from linear_imputation import impute, Imputer
import numpy as np
from scipy.interpolate import interp1d
import geopandas as gpd

In [53]:
plt.rcParams["font.family"] = "NanumGothic"
plt.rcParams["figure.figsize"] = (10,20)

In [54]:
data = pd.read_csv("./variable/pre/pre_variable_people.csv", encoding='cp949')
data = data[data["시군구명"].isin(["광진구", "동대문구", "성동구", "중랑구"])]
data = data[["기준일ID", "시군구명", "총생활인구수"]]
data.reset_index(drop=True, inplace=True)
data.head()

      기준일ID  시군구명       총생활인구수
0  20221206   성동구  372213.1077
1  20221206   광진구  383428.6789
2  20221206  동대문구  388461.3519
3  20221206   중랑구  347697.7961
4  20221205   성동구  370973.6411

In [55]:
data_1 = data[data["시군구명"]=="광진구"]
data_1 = data_1.reindex(index=data_1.index[::-1])
data_1.reset_index(drop=True, inplace=True)

data_2 = data[data["시군구명"]=="동대문구"]
data_2 = data_2.reindex(index=data_2.index[::-1])
data_2.reset_index(drop=True, inplace=True)

data_3 = data[data["시군구명"]=="성동구"]
data_3 = data_3.reindex(index=data_3.index[::-1])
data_3.reset_index(drop=True, inplace=True)

data_4 = data[data["시군구명"]=="중랑구"]
data_4 = data_4.reindex(index=data_4.index[::-1])
data_4.reset_index(drop=True, inplace=True)

In [56]:
data_1.head()

      기준일ID 시군구명       총생활인구수
0  20180405  광진구  419550.0456
1  20180406  광진구  419100.5912
2  20180407  광진구  433660.4614
3  20180408  광진구  431473.0325
4  20180409  광진구  420001.7360

In [57]:
def converting_to_real_dt(col):
    new_col = []
    format_t = '%Y%m%d'
    for i in col:
        dt = datetime.datetime.strptime(str(i), format_t).date()
        new_col.append(dt)
    return new_col

In [58]:
data_1["date"] = converting_to_real_dt(data_1["기준일ID"])
data_2["date"] = converting_to_real_dt(data_2["기준일ID"])
data_3["date"] = converting_to_real_dt(data_3["기준일ID"])
data_4["date"] = converting_to_real_dt(data_4["기준일ID"])
data_1.head()

      기준일ID 시군구명       총생활인구수        date
0  20180405  광진구  419550.0456  2018-04-05
1  20180406  광진구  419100.5912  2018-04-06
2  20180407  광진구  433660.4614  2018-04-07
3  20180408  광진구  431473.0325  2018-04-08
4  20180409  광진구  420001.7360  2018-04-09

In [59]:
date_l = []
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2018, 1, 1)
end_dt = date(2022, 11, 30)
for dt in daterange(start_dt, end_dt):
    date_l.append(dt)

In [60]:
time_std_df = pd.DataFrame({"date":date_l})
time_std_df.head()

         date
0  2018-01-01
1  2018-01-02
2  2018-01-03
3  2018-01-04
4  2018-01-05

In [61]:
data_1.iloc[0]["총생활인구수"]

419550.0456

In [62]:
left_df = time_std_df.copy()
m_1 = left_df.merge(data_1, on='date', how='left')
m_1.drop(["기준일ID", "시군구명"], axis=1, inplace=True)
m_1.fillna(data_1.iloc[0]["총생활인구수"], inplace=True)
m_1

            date       총생활인구수
0     2018-01-01  419550.0456
1     2018-01-02  419550.0456
2     2018-01-03  419550.0456
3     2018-01-04  419550.0456
4     2018-01-05  419550.0456
...          ...          ...
1790  2022-11-26  387212.3749
1791  2022-11-27  389374.6008
1792  2022-11-28  382144.4302
1793  2022-11-29  382038.2690
1794  2022-11-30  382765.7203

[1795 rows x 2 columns]

In [63]:
m_1.to_csv("./variable/population_Gwang.csv", encoding="utf-8")

In [64]:
left_df = time_std_df.copy()
m_2 = left_df.merge(data_2, on='date', how='left')
m_2.drop(["기준일ID", "시군구명"], axis=1, inplace=True)
m_2.fillna(data_2.iloc[0]["총생활인구수"], inplace=True)
m_2.to_csv("./variable/population_Dong.csv", encoding="utf-8")

In [65]:
left_df = time_std_df.copy()
m_3 = left_df.merge(data_3, on='date', how='left')
m_3.drop(["기준일ID", "시군구명"], axis=1, inplace=True)
m_3.fillna(data_3.iloc[0]["총생활인구수"], inplace=True)
m_3.to_csv("./variable/population_Seong.csv", encoding="utf-8")

In [66]:
left_df = time_std_df.copy()
m_4 = left_df.merge(data_4, on='date', how='left')
m_4.drop(["기준일ID", "시군구명"], axis=1, inplace=True)
m_4.fillna(data_4.iloc[0]["총생활인구수"], inplace=True)
m_4.to_csv("./variable/population_Jung.csv", encoding="utf-8")